<footer class="mt-5">
    <div class="container">

        <hr>

        <div class="row py-4">


            <div class="col-md-4 mb-3">
                <h6 class="fw-semibold">
                    <i class="bi bi-people-fill me-2"></i>Auteurs
                </h6>

                <ul class="list-unstyled text-muted">
                    <li class="mb-2">
                        Nathan Nicart —
                        <a href="https://www.linkedin.com/in/nathan-nicart/" target="_blank"
                            class="text-decoration-none">
                            <i class="bi bi-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>

                    <li>
                        Gatien Genevois —
                        <a href="https://www.linkedin.com/in/gatiengnv/" target="_blank" class="text-decoration-none">
                            <i class="bi bi-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">

                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/gatiengnv/BlaBlaCar" target="_blank" class="text-decoration-none">
                            <i class="bi bi-github me-1"></i>
                            Code source GitHub
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="text-center text-muted border-top py-3">
            2026 - Projet BlaBlaCar | LO07 - Technologies du Web | UTT
        </div>

    </div>
</footer>